.query-selector {
    display: table-cell;
   
}
.wrapper{

}

.query-menu {
    display: table-cell;
   
}
.query-selector-container {
    display: table;
    width: 20%;
}
.query-menu-container{
    display: table;
    width: 20%;
}
#gridContainer{

    display: inline-block;
    width: 70%;
    padding: 20px;
}


.wrapper{
    width: 100%;
    height: 100%;
}
.queryWrapper{
    display:inline-block;
    float: left;
    padding: 20px;
    width: min-content;
    border-right: solid thin lightgrey;

}
