<ng-container class="container">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Søg i dine søgninger</mat-label>
            <input (ngModelChange)="findMatchingQueries()" [(ngModel)]="searchTerm" matInput placeholder="" value="">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Vælg en søgning</mat-label>
            <mat-select (selectionChange)="newQuerySelected($event.value)" [(value)]='querytest'>
                <mat-option *ngFor="let query of shownQueryNames" [value]="query">
                    {{query}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</ng-container>