<ng-container class="container">
    <div>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Vælg en søgning" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
                <button mat-button *ngIf="myControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.setValue('')">
                        <mat-icon>close</mat-icon>
                </button>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="newQuerySelected($event.option.value)" >
                  
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
                    
            </mat-autocomplete>
        </mat-form-field>
    </div>
</ng-container>
