<mat-toolbar color="primary" class="navigationBar">
    <button mat-raised-button class="buttonNavigation" color="warn" (click)="goBack()">Gå tilbage</button>

    <div class="mainLogo">
        <img (click)="routeToHome()" src="assets/logos/Logos-02.png ">
    </div>
    <span class="example-fill-remaining-space"></span>
    <div class="optOutContainter">
        <div class="personName">{{name}}</div>
        <button mat-raised-button color="warn" class="buttonNavigation" (click)="logoutOfFacebook()">Log ud</button>
    </div>

</mat-toolbar>

<div class="addMargin"></div>

