.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.navigationBar {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 3000;
  width: 100%;
  height: 85px;
}
.logo{
  height: 80%;
}
.personName{
  font-size: 15px;
}
.addMargin{
  /* height: 9vh; */
}
.optOutContainter{
  text-align: center;
}


