#leftBox {


}

#rightBox {
}

#rightGroup {
}

#leftGroup {
}

.vLine {
    border-left: 3px solid rgb(0, 0, 0);
    height: 100%;
    position: absolute;
    left: 50%;
    /* top: 0; */
}

#confirmBttn {
    background: rgb(110, 19, 75);
    color: white;
    height: 60px;
    width: 110px;
    text-align: left;
    align-content: center;

}

.buttonContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
    left: 50%;
}

.wrapper {
    /* margin: auto; */
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}


.groupContainer {
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10%;
    padding-right: 10%;

}
.card{
    margin-bottom: 5px;
    /* padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px; */
    cursor: pointer;
    background-color:rgb(60, 90, 153);
    height: 10vh;
    padding-left: 5%

    /* white-space:nowrap; */
}
.content{
    width:90%;
    align-content: center;
    overflow: hidden;
}

.divContainer{
    width:50%
}
.divContainer#leftBox{
    float: left;
}
.divContainer#rightBox{
    float: right;
}
