<div *ngIf="!showLoading else loading">
    <app-project-navigation></app-project-navigation>
    <div class="formContainer">

        <p></p>

        <form [formGroup]="myForm" class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="queryName" formControlName="name" placeholder="Søgningens navn" value="">


                <mat-hint>Navn på din søgning</mat-hint>
                <mat-error *ngIf="name.invalid || name.touched">
                    HEY DU DER! DU MÅ KUN BRUGE BOGSTAVER OG TAL!
                </mat-error>
            </mat-form-field>


            <h2>Søge Parametrer</h2>

            <div class="fullsizeFormElement">
                <div class="halfWidth" style="float: none; margin: 0 auto">
                    <mat-checkbox class="example-margin" [formControl]="postsCheck">Opslag</mat-checkbox>
                    <mat-checkbox class="example-margin" [formControl]="commentsCheck">Kommentarer</mat-checkbox>
                    <mat-checkbox class="example-margin" [formControl]="reactionsCheck">Reaktioner</mat-checkbox>
                    <mat-checkbox class="example-margin" [formControl]="linksCheck">Links</mat-checkbox>
                </div>
                <!--<div class="halfWidth">-->

                <!--</div>-->
            </div>

            <h2>Søge Indstillinger</h2>


            <div class="periodField">


                <mat-checkbox class="useDateField" formControlName="useDate">
                    Inkluder dato i din søgning
                </mat-checkbox>
                <br>

                <div *ngIf="useDate.value">
                    <h3 class="header">Periode</h3>
                    <mat-form-field class="matFormDate">
                        <input [disabled]="!useDate.value" matInput [matDatepicker]="picker1" placeholder="Fra"
                            [formControl]="beginDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-hint>Fra dato</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="matFormDate">
                        <input matInput [disabled]="!useDate.value" [matDatepicker]="picker2" placeholder="Til"
                            [formControl]="endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-hint>Til dato</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="fullsizeFormElement">
                <div class="halfWidth">

                    <mat-form-field style="width: 100%">
                        <input matInput type="number"[formControl]="maxInput" (keypress)="numberOnly($event)" placeholder="Maks"
                            id="myNumber" />
                        <mat-hint>Antallet af opslag din søgning maks kan hente</mat-hint>
                        <!--<mat-error *ngIf="max.invalid || max.touched">-->
                          <!--Du må kun bruge tal!-->
                        <!--</mat-error>-->
                        <!-- <input matInput placeholder="Max" value=" "> -->
                    </mat-form-field>
                </div>

                <div class="halfWidth">
                    <mat-form-field class="example-chip-list">

                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let tag of searchTags" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(tag)">
                                {{tag.tag}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Søge Tags... " [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>

                        <mat-hint>Søgningen returnerer kun opslag der indeholder disse tags</mat-hint>
                    </mat-form-field>

                </div>
            </div>


            <h3 class="header">Tilføj/fjern grupper der skal søges på</h3>
            <div class="fullsizeFormElement noHeight">
                <div class="halfWidth noGrid">
                    <div class="cardContainer">
                        <p>Tilgængelige Grupper</p>
                        <mat-card class="mat-card-content notSelected"
                            *ngFor="let group of groupsAvailable; let i = index" (click)="addToSelected(i)">

                            <div style="">
                                <div style="display: block">
                                    {{group.name}}
                                    <div style="color:blue">
                                        {{group.desc}}
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="halfWidth noGrid">
                    <div class="cardContainer">
                        <p>Valgte Grupper</p>
                        <mat-card class="mat-card-content selected" *ngFor="let group of groupsSelected;  let i = index"
                            (click)="addToAvailable(i)">
                            <div style="">
                                <div style="display: block">
                                    {{group.name}}
                                    <div style="color:blue">
                                        {{group.desc}}
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>


            <button mat-raised-button color="primary" [disabled]="myForm.invalid || !isValid"
                (click)="StartQuery()">SØG!</button>

        </form>
    </div>

</div>

<ng-template #loading>
    <app-loading-view customTitle="Fetching posts..."></app-loading-view>
</ng-template>
