.buttons{
    text-align: center;
}
.buttons button{
    margin-left: 25px;
    margin-right: 25px;
}
.buttonFull{
    display: inline-block;
    margin: 10px;
}
.buttonFull p {
    font-size: 14px;
    margin-bottom: 5px;
}
