<mat-divider>
</mat-divider>


<div class="menuItems">
  <table class="table">
    <tr class="clickable-row" routerLink="/project_ny_soegning">
      <th>
        <div class="icon"></div>
      </th>
      <th class="tableHorizontal">
        <p class="text">Ny forespørgsel</p>
      </th>
    </tr>
    <tr class="clickable-row" (click)="updateQuery()">
      <th class="icons">
        <div class="icon"></div>
      </th>
      <th class="tableHorizontal">
        <p class="text">Opdater forespørgsel</p>
      </th>
    </tr>
    <tr class="clickable-row" (click)="exportQuery()">
      <th>
        <div class="icon"></div>
      </th>
      <th class="tableHorizontal">
        <p class="text">Eksporter forespørgsel</p>
      </th>
    </tr>
  </table>
</div>
