<mat-divider>
</mat-divider>


<div class="menuItems">
    <table class="table">
        <tr (click)='newQuery()' class="clickable-row">
            <th>
                <div class="icon">
                    <img class="logo" src="assets/logos/Logos-01.svg">
                </div>
            </th>
            <th class="tableHorizontal">
                <p class="text">Ny søgning</p>
            </th>
        </tr>
        <tr class="clickable-row" (click)="deleteQuery()" *ngIf='this.queryservice.hasQuerys'>
            <th class="icons">
                <div class="icon">
                    <img class="logo" src="assets/logos/Logos-02.svg">
                </div>
            </th>
            <th class="tableHorizontal">
                <p class="text">Slet søgning</p>
            </th>
        </tr>
        <tr class="clickable-row" (click)="updateQuery()" *ngIf='this.queryservice.hasQuerys'>
            <th class="icons">
                <div class="icon">
                    <img class="logo" src="assets/logos/Logos-02.svg">
                </div>
            </th>
            <th class="tableHorizontal">
                <p class="text">Gentag søgning</p>
            </th>
        </tr>
        <!--<tr class="clickable-row" (click)="exportQuery()" *ngIf='this.queryservice.hasQuerys'>-->
        <tr class="clickable-row" (click)="openDialog()" *ngIf='this.queryservice.hasQuerys'>
            <th>
                <div class="icon">
                    <img class="logo" src="assets/logos/Logos-03.svg">
                </div>
            </th>
            <th class="tableHorizontal">
                <p class="text">Eksporter søgning</p>
            </th>
        </tr>
    </table>
</div>
