<div id="wrapper">
  
    <div class="descView">
      <h2>Projekt titel:</h2>
      <br />
      <h3>{{ this.newprojectservice.Name }}</h3>
      <br />
      <h2>Projekt Beskrivelse:</h2>
      <br />
      <div id="LEFT">
      <p>{{ this.newprojectservice.Description }}</p>
    </div>
    </div>

    <div class="rightBox" id="chosenbois">
      <br>
      <h2 id="groupHD">Valgte Facebook grupper</h2>
      <div class="groupContainer">
        <mat-card class="rightGroup" *ngFor="let group of this.newprojectservice.ListOfGroups; let i = index">
         <span class="card">
          <div class="content">
            <div style="display: block" style="color:aliceblue">
              {{ group.name }}
              <div style="color:white">
                {{ group.desc }}
              </div>
            </div>
          </div>
        </span>
        </mat-card>
      </div>

    </div>
    <div id="buttonContainer">
      <form>
        <input type="submit" value="{{this.newprojectservice.MakeProjectButton}}" id="confirmBttn" name="" />
        <input type="submit" value="redigér projektbeskrivelse" id="editBttn" name="" (click)="showNext()" />
      </form>
    </div>
  </div>
  <div class="vLine"></div>
<!-- Lav plads til searchbar. -->