
.descView{
    float: left;
    width: 50%;
    padding: 2%;
    height: 50vh;
}

.rightBox{
    width:50%;
   
}
#groupHD{
    text-align: center;
}
#confirmBttn{
    
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#wrapper{
    overflow-y: hidden;
    height: 80%;
    width: 100%;
    overflow-y:hidden;
}
#rightGroup{
    float: right;
    width: 50%;
}
.groupContainer {
    width: 100%;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15%;
    padding-right: 15%;
}

.card{
    cursor: pointer;
    background-color:rgb(87, 152, 196);
    height: 13vh;
    padding-left: 5%
}
.mat-card{
    padding: 0;
    margin-bottom: 5%;
}

.content{
    width:90%;
    height: 45vh;
    align-content: center;
    overflow: hidden;
}

#LEFT{
    width:50%;
}
#chosenbois{
    float: right;
}