.vLine{
    border-left: 3px solid rgb(0, 0, 0);
    height: 80%;
    position: absolute;
    left:50%;
    top:0;
}
.descView{
    float: left;
    width: 50%;
    padding: 2%;
    height: 500px;
}

#rightBox{
    float: right;
    width:50%;
    height: 500px;
    text-align: center;
}
#groupHD{
    text-align: center;
}
#confirmBttn{
    background: rgb(110, 19, 75);
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#editBttn{
    position: absolute;
    font-size: 12px;
    left: 0px;
    margin-top: 30%;
    background: rgb(110, 19, 75);
    color: white;
    height: 50px;
    width: 150px;
    align-content: center;
}
#wrapper{
    height: 100%;
    width: 100%;
}
#rightGroup{
    float: right;
    width: 50%;
}
.cardContainer mat-card{
    margin-bottom: 5px;
    margin-right: 50px;
    margin-left: 50px;
    cursor: pointer;
    background-color: blue;
}

#LEFT{
    width:50%;
}