.deleteButton{
    height: 60px;
    color: red;
    float: right;
}
.projectTitle{
    font-weight: bold;
}
.text{
    padding: 5px;
}
.cardContainer{
    width: 85%;
    cursor: pointer;
    margin: 10px auto;
}
.matCard-Back:hover{
    background-color: #DCDCDC !important;
}
.projekterHeader{
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
}
.matCard-Back{
    transition: 0.3s;
    background-color: whitesmoke;
}
