
  <!--<mat-list-item>Ingen projekter at vise!</mat-list-item>-->

  <mat-list *ngIf='!noProjects;'>
<p class="projekterHeader">Projekter</p>
  </mat-list>
<mat-nav-list *ngIf='!noProjects'>
  <div class="cardContainer" *ngFor="let project of projects">

      <mat-card class="matCard-Back" >
        <button class="deleteButton" mat-button (click)="deleteProject(project.name)">Slet</button>
      <div class="text" (click)='this.newprojectservice.NewProject=false;this.directoryservice.selectedProject=project;
      selectProject(project.name)' >

        <span class="projectTitle">{{project.name}}</span><br>
        {{project.desc}}

      </div>

      </mat-card>

  </div>



</mat-nav-list>
