.error{
    color: red;
}
.loginButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loginButton{
    min-width: 600px;
    min-height: 300px;
    font-size: 55px;
    letter-spacing: 3px;
    font-weight: lighter;
}
