<div *ngIf="!isLoading; else loading">

    <app-project-navigation></app-project-navigation>
    <div class="buttoncontainer">
        <div class="buttons">
            <button (click)="openDialog()" mat-raised-button>Standard søgning</button>
            <p style="padding-top:4px">Henter alt tilgængelig data fra facebook, fra alle grupper tilhørende det valgte
                projekter</p>
        </div>
        <div class="buttons">
            <button routerLink="/project_ny_soegning_brugerdef" mat-raised-button>Brugerdefineret søgning</button>
            <p style="padding-top:4px">Specificer din søgning før data bliver hentet fra Facebook</p>
        </div>
    </div>

</div>

<ng-template #loading>
    <app-loading-view customTitle="Fetching posts..... "></app-loading-view>
</ng-template>
