<div class="center">
  <form>
    <mat-form-field class="textTitle" hintlabel="Max 25 tegn">
      <input
        matInput
        #input
        maxlength="25"
        placeholder="Titel"
        value=""
        name="projectName"
        [(ngModel)]="this.newprojectservice.Name"
      />
    </mat-form-field>
    <br /><br /><br />
    <mat-form-field class="textBox" hintLabel="Max 250 tegn">
      <textarea
        input
        matInput
        #input
        maxlength="250"
        placeholder="Project beskrivelse"
        name="ProjectDescription"
        id="Description"
        [(ngModel)]="this.newprojectservice.Description"
      ></textarea>
      <mat-hint align="end">{{ input.value?.length || 0 }}/250</mat-hint>
    </mat-form-field>
    <br /><br /><br />
    <input
      type="submit"
      value="Videre"
      id="confirmBttn"
      name=""
      (click)="showNext()"
    />
  </form>
</div>
