<!-- NAME -->
<div class="navigator">
  <div class="container">
    <div class="projectName">{{projectName}}</div>
    <div class="icon-container">
      <form>
        <div class="icon">
          <input type="submit" value="" name="">
        </div>
        <div class="icon">
          <input type="submit" value="" name="">
        </div>
        <div class="icon">
          <input type="submit" value="" name="">
        </div>
      </form>
    </div>
    <!-- <button (click)="callUpdate()">FORCE NAME UPDATE</button> -->
  </div>
</div>


<!-- THREE BUTTONS FOR NEWPROJECTVIEW -->