<!-- NAME -->
<div class="navigator">
  <div class="container">
    <div class="projectName">{{this.directoryservice.selectedProject}}</div>
    <div class="icon-container">
      <form>
        <div class="icon">
          <input type="submit" value="" name="" (click)='editProject(0)'>
        </div>
        <div class="icon">
          <input type="submit" value="" name="" (click)='editProject(1)'>
        </div>
        <div class="icon">
          <input type="submit" value="" name="" (click)='editProject(2)'>
        </div>
      </form>
    </div>
    <!-- <button (click)="callUpdate()">FORCE NAME UPDATE</button> -->
  </div>
</div>


<!-- THREE BUTTONS FOR NEWPROJECTVIEW -->